<top-slide-out expanded="expanded">
	<md-tabs md-dynamic-height md-border-bottom>
		<!--<md-tab label="Call Scripts"  ng-disabled="true"></md-tab>-->
		<!--&lt;!&ndash;<md-tab label="{{key}}" ng-repeat="(key, scripts) in callScripts" ng-click="clearScriptText()">&ndash;&gt;-->
		<!--&lt;!&ndash;<md-content class="md-padding" layout="row">&ndash;&gt;-->
		<!--&lt;!&ndash;<div>&ndash;&gt;-->
		<!--&lt;!&ndash;<span ng-repeat="script in scripts">&ndash;&gt;-->
		<!--&lt;!&ndash;<md-button ng-click="setScriptText(script)" ng-class="{ 'md-primary': selected === script.name}" ng-bind="script.name" aria-label="Click to view script {{script.name}}"></md-button>&ndash;&gt;-->
		<!--&lt;!&ndash;<br ng-if="!$last" />&ndash;&gt;-->
		<!--&lt;!&ndash;</span>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--&lt;!&ndash;<div ng-bind="scriptText" flex-offset="5"></div>&ndash;&gt;-->
		<!--&lt;!&ndash;</md-content>&ndash;&gt;-->
		<!--&lt;!&ndash;</md-tab>&ndash;&gt;-->
	</md-tabs>
</top-slide-out>