
$location-1: #6AAFFF; // light blue
$location-2: #F6A623; // orange
$location-3: #4EE9C6; // green
$location-4: #D273E6; // violet
$location-5: #86F11A; // lime green
$location-6: #001E69; // dark blue
$location-7: #D0011B; // red
$location-8: #008BA6; // marine
$location-9: #6A10B9; // purple
$location-10: #207100; // dark green